#weather-daily-full-info-background {
    width: 100%;
    height: 100%;
    background-image: url('https://images.pexels.com/photos/1019991/pexels-photo-1019991.jpeg?cs=srgb&dl=pexels-eberhard-grossgasteiger-1019991.jpg&fm=jpg');
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 13px;
    #weather-daily-full-info {
        height: 100%;
        width: 100%;
        border-radius: 13px;
        position: relative;
        backdrop-filter: brightness(80%);
        h1 {
            position: absolute;
            left: 54%;
            top: 10%;
            transform: translate(-50%,0);
            font-size: 4rem;
        }
        h2 {
            position: absolute;
            left: 50%;
            top: 26.5%;
            transform: translate(-50%,0);
            font-size: 2rem;
        }
        p {
            position: absolute;
            left: 50%;
            text-align: center;
            top: 38%;
            width: 80%;
            transform: translate(-50%,0);
            font-size: small;
        }
        // .little-infoes {
        // } 
    }
}