<div id="weather-daily-full-info-background">
    <div id="weather-daily-full-info">
        <h1>28°</h1>
        <h2>Cloudy day</h2>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laudantium corporis totam optio.</p>
        <div class="little-infoes">
            <app-weaather-feels-like></app-weaather-feels-like>
        </div>
        <div class="little-infoes">
            <app-weather-precipitation></app-weather-precipitation>
        </div>
        <div class="little-infoes">
            <app-weather-visibility></app-weather-visibility>
        </div>
        <div class="little-infoes">
            <app-weather-himidity></app-weather-himidity>
        </div>
    </div>
</div>